@import "tailwindcss";

@theme {
  /* sand – Dark backgrounds */
  --sand-50: #100F0F;
  --sand-100: #151513;
  --sand-200: #1B1A18;
  --sand-300: #2B2927;
  /* sand – Borders dark */
  --sand-300: #2B2927;
  --sand-400: #3B3935;
  --sand-500: #4B4844;
  /* sand – Text dark */
  --sand-0: #E7E6E4;
  --sand-950: #CFCCC9;
  --sand-700: #76716B;
  --sand-500: #4B4844;
  /* Brand stays same */
  --red-600: #F01C05;
  --red-16: #35130F;

  /* Background */
  --color-bg-base: var(--sand-50);
  --color-bg-surface: var(--sand-100);
  --color-bg-surface-hover: var(--sand-200);
  --color-bg-elevated: var(--sand-300);
  /* Border */
  --color-border-primary: var(--sand-400);
  --color-border-secondary: var(--sand-300);
  --color-border-hover: var(--sand-500);
  /* Text */
  --color-text-primary: var(--sand-0);
  --color-text-secondary: var(--sand-950);
  --color-text-tertiary: var(--sand-700);
  --color-text-inactive: var(--sand-500);
  /* Brand */
  --color-brand-primary: var(--red-600);
  --color-brand-text: var(--sand-100);
  --color-brand-opacity16: var(--red-16);
}

.light {
  /* sand – light backgrounds */
  --sand-50: #FAFAF9;
  --sand-100: #F6F5F4;
  --sand-200: #F1F0EE;
  --sand-300: #E8E6E3;
  /* sand – Borders light */
  --sand-400: #DEDCD8;
  --sand-500: #D5D2CD;
  --sand-600: #C7C3BD;
  /* sand – Text light */
  --sand-0: #534E46;
  --sand-950: #6E675E;
  --sand-700: #B9B3AC;
  --sand-500: #D5D2CD;
  /* Brand stays same */
  --red-500: #FA270F;
  --red-16: #EAC7C1;

  /* Background */
  --color-bg-base: var(--sand-300);
  --color-bg-surface: var(--sand-200);
  --color-bg-surface-hover: var(--sand-100);
  --color-bg-elevated: var(--sand-50);
  /* Border */
  --color-border-primary: var(--sand-400);
  --color-border-secondary: var(--sand-500);
  --color-border-hover: var(--sand-600);
  /* Text */
  --color-text-primary: var(--sand-0);
  --color-text-secondary: var(--sand-950);
  --color-text-tertiary: var(--sand-700);
  --color-text-inactive: var(--sand-500);
  /* Brand */
  --color-brand-primary: var(--red-500);
  --color-brand-text: var(--sand-100);
  --color-brand-opacity16: var(--red-16);
}

.font-l500 {
  font-family: var(--font-inter), system-ui, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0em;
}

.font-l600 {
  font-family: var(--font-inter), system-ui, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0em;
}

.font-m500 {
  font-family: var(--font-inter), system-ui, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0em;
}

.font-m600 {
  font-family: var(--font-inter), system-ui, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0em;
}

.font-s500 {
  font-family: var(--font-inter), system-ui, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.005em;
}

.font-s600 {
  font-family: var(--font-inter), system-ui, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.005em;
}

.font-xs500 {
  font-family: var(--font-inter), system-ui, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.01em;
}

.font-xs600 {
  font-family: var(--font-inter), system-ui, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.01em;
}

.font-2xs500 {
  font-family: var(--font-inter), system-ui, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.01em;
}

.font-2xs600 {
  font-family: var(--font-inter), system-ui, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.01em;
}

.font-3xs500 {
  font-family: var(--font-inter), system-ui, sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.015em;
}

.font-3xs600 {
  font-family: var(--font-inter), system-ui, sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.4;

  letter-spacing: 0.015em;
}

@layer base {

  html,
  body {
    @apply bg-bg-base;
  }
}

* {
  scrollbar-width: thin; /* thin ≈ 6px */
  scrollbar-color: var(--color-bg-elevated) transparent;
}